
<h1>Currency Converter</h1>
<div class="box">
    
    <br>
    <br>
    <select placeholder="select country" [(ngModel)]="currIndex" >
        <option value="">Select Country</option>
        <option *ngFor="let country of data; let j=index;" value="{{j}}">{{country.name}}{{country.symbol}}</option>
    </select>

    <input type="text" [(ngModel)]="currValue" >

    <select placeholder="select country" [(ngModel)]="tarIndex" >
        <option value="">Select Country</option>
        <option *ngFor="let country of data; let j=index;" value="{{j}}">{{country.name}}{{country.symbol}}</option>
    </select>

    <button (click)="handler()">Convert</button>

   
</div>
<div class="box-2" *ngIf="res">
    <div>
      <h4>Converted value - </h4>
    </div>
    <h4> {{res}}</h4>
  </div>
